spring:
  cloud:
    gcp:
      sql:
        enabled: false
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${MYSQL_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate.dialect: org.hibernate.dialect.MySQL8Dialect

  flyway:
    user: ${MYSQL_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    schemas: catalog
    #    url: jdbc:mysql://google/catalog?cloudSqlInstance=${GCP_SQL_INSTANCE_CONNECTION_NAME}&socketFactory=com.google.cloud.sql.mysql.SocketFactory
    url: ${SPRING_DATASOURCE_URL}
    locations: classpath:db/migration
    baselineOnMigrate: true
  kafka:
    enabled: true
    bootstrap-servers: ${KAFKA_SERVER_URL}
    value-seriliazer: org.apache.kafka.common.serialization.StringSerializer
    key-serializer: org.apache.kafka.common.serialization.StringSerializer
    producer:
      client-id: kafka-message-producer
      acks: all
    topic:
      book-rating: book-rating
      insert-book: insert-book
      delete-book: delete-book

server:
  error:
    include-message: always

logging:
  level:
    com.productdock: INFO

file-logging-enabled: ${LOG_TO_FILE}

jwt:
  public.key: file:${USER_PROFILES_JWT_PUBLIC_KEY}

rental:
  service:
    url: ${RENTAL_SERVICE_URL}

management:
  server:
    port: 8087
  endpoint:
    health:
      show-details: always
  endpoints:
    web:
      exposure:
        include: '*'